{{!-- {{#each user}}
<h6 class="welcomeMsg">Welcome, {{this.firstName}}</h6>
{{/each}} --}}

<div>
  <h3 class='eventPageTitle'>My Events</h3>
  <div class='eventsDiv'>
    <h6 class='welcomeMsg'>Welcome, User {{this.firstName}}</h6>
    <div class='addEventBtnDiv'>

      <button
        class='button addEventBtn collapsible'
        {{! onclick='toggleCollapsible()' }}
      >Add Event</button>

      <div class='content addEventFormStyle'>
        <form id='addEventForm' action='/submit' method='post'>
          <h3 class='eventFormTitle'>Schedule New Event</h3>
          <label for='inviteEmailInput' class='eventFormLabel'>Enter email of
            who you're going with:</label><br />
          <input type='text' id='inviteEmailInput' name='inputField' />

          <br />
          <label for='eventTitleInput' class='eventFormLabel'>Event Title:</label><br
          />
          <input type='text' id='eventTitleInput' name='inputField' />

          <br /><label for='eventDate' class='eventFormLabel'>Event date:</label><br
          />
          <input
            type='date'
            id='eventDate'
            name='eventDate'
            value='2018-07-22'
            min='2023-01-01'
            max='2999-12-31'
          />
          <br />

          <label
            for='eventDescript'
            class='eventFormLabel'
          >Description:</label><br />
          <input type='text' id='inviteEmailInput' name='inputField' /><br />

          <div class='scheduleBtn'>
            <button type='submit' class='button'>Schedule</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  {{!-- <div class="eventTitleDiv">
        <div class="spacer">Welcome, {{this.firstName}}</div>
        <h3 class="eventPageTitle">My Events</h3>
        <h6 class="welcomeMsg">Welcome, User {{this.firstName}}</h6>
    </div> --}}
  {{#each events as |event|}}
    <div class='eventCard'>
      <div class='eventHeading'>
        <h1 id='eventName'>Event Name {{event.title}}</h1>
        <h1 id='eventDate'>Event Date {{event.dateOfEvent}}</h1>
      </div>
      <div class='eventDescript'>
        <p>{{event.description}}</p>
      </div>
      <h5>Who's Going?</h5>
      <div class='flex-container cardBtnDiv'>
        <div class='participantDiv'>
          <div class='flex-item participant'>{{user}}
            {{email}}
            User 1 / user@email.com</div>
          <div class='flex-item participant'>{{user}}
            {{email}}
            User 2 / user@example.com</div>
        </div>
        <div>
          <div class='flex-item'>
            <input
              type='button'
              id='editEventBtn'
              class='btnStyle'
              value='Edit Event'
            />
          </div>
          <div class='flex-item'>
            <input
              type='button'
              id='cancelBtn'
              class='btnStyle'
              value='Cancel'
            />
            <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
            <script>
              document.getElementById("cancelBtn").addEventListener("click", () => {
                confetti();
              })
            </script>
          </div>

        </div>
      </div>

    </div>
  {{/each}}
</div>

{{! <script>
  var coll = document.getElementsByClassName("collapsible"); var i; for (i = 0;
  i < coll.length; i++) { coll[i].addEventListener("click", function () {
  this.classList.toggle("active"); var content = this.nextElementSibling; if
  (content.style.maxHeight) { content.style.maxHeight = null;
  content.classList.remove("open"); } else { content.style.maxHeight =
  content.scrollHeight + "px"; content.classList.add("open"); } }); }
</script> }}

<script src='/js/home.js'></script>